<script>
	const formDelete = document.querySelector('#form-delete');
	formDelete.addEventListener('submit', function(event) {
		const confimation = confirm('Deseja Deletar?');
		if(!confimation)
			event.preventDefault();
	});
</script>
